.greg{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -200px;
}

/*body:hover .greggo img{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
        transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
        transition-duration: 1s;
}*/

.el-greggle{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: red;
}

.el-greggo{
    position: fixed;
    top: 15%;
    left: 0;
    bottom: 15%;
    right: 0;
    background-color: yellow;
}

footer .groogle{
    color: #ee0000
}