body {
  background-color: #efefef;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 95%;
  border: 1px red solid;
  height: 350px;

}

#canvas-container {
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}